.day {
  border: 2px solid transparent;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.day:hover {
  background-color: #383838;
  cursor: pointer;
}

.currentDay {
  border: 2px solid rgba(255, 0, 0, 0.552);
}

.selectedDay {
  border: 2px solid rgba(35, 248, 248, 0.597);
}

.disabled {
  pointer-events: none;
  color: #999;
}

.hint {
  position: absolute;
  top: -30px;
  right: -40px;
  height: 20px;
  width: 70px;
  background-color: rgb(144, 143, 143);
  color: white;
  padding: 2px;
  border-radius: 5px;
  z-index: 2;
}

.holiday {
  background-color: rgba(255, 0, 0, 0.453);
}
