body {
  background-color: rgb(16, 20, 24);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid transparent;
  padding: 5px;
  width: fit-content;
}

.input:hover {
  opacity: 0.8;
}

.input:focus {
  outline: none;
}

.input:disabled {
  opacity: 0.4;
  cursor: unset;
}

.input.standart {
  border-bottom: 1px solid rgb(184, 185, 186);
}

.input.filled {
  border-bottom: 1px solid rgb(190, 191, 192);
  background-color: rgb(37, 41, 45);
  border-radius: 2px;
}

.input.outlined {
  border: 1px solid rgb(72, 74, 77);
  border-radius: 2px 2px 0 0;
}

.input.standart,
.input.outlined {
  background-color: inherit;
}

.input.standart.secondary {
  border-bottom-color: rgb(206, 147, 216);
}

.input.standart.success {
  border-bottom-color: rgb(102, 187, 106);
}
.input.standart.warning {
  border-bottom-color: rgb(254, 168, 39);
}

.input.filled.secondary {
  border-bottom-color: rgb(206, 147, 216);
}
.input.filled.success {
  border-bottom-color: rgb(102, 187, 106);
}
.input.filled.warning {
  border-bottom-color: rgb(254, 168, 39);
}

.input.outlined.secondary {
  border-color: rgb(206, 147, 216);
}
.input.outlined.success {
  border-color: rgb(102, 187, 106);
}
.input.outlined.warning {
  border-color: rgb(254, 168, 39);
}

.input.s {
  padding: 10px 15px;
}

.input.m {
  padding: 15px 20px;
  font-size: 16px;
}

.input.l {
  padding: 20px 25px;
  font-size: 18px;
}

.input.standart.error,
.input.filled.error {
  border-bottom-color: rgb(244, 67, 54);
}

.input.outlined.error {
  border-color: rgb(244, 67, 54);
}
