*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  position: relative;
  height: 420px;
  width: fit-content;
}

.wrapper input {
  color: white;
}

.calendar {
  position: absolute;
  width: 300px;
  height: 320px;
  background-color: rgb(37, 41, 45);
  border-radius: 5px;
  bottom: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  flex: 0 0 auto;
}

.title {
  color: white;
}

.days {
  padding: 5px;
  flex: 1 0 auto;
}

.size {
  width: 34px;
  height: 34px;
}

.years,
.months {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.week {
  position: relative;
}
