.wrapper {
  display: flex;
  gap: 20px;
}

.modal_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.copyWrapper {
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 4px;
}

.modal {
  padding: 15px;
  border-radius: 10% 20% 10% 20%;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  animation: smooth-appearance 0.2s ease-in;
}

.copyModal {
  height: 25px;
  width: 25px;
  gap: 0;
}

.modal.dark {
  background-color: black;
  color: white;
}
.modal.bright {
  background-color: rgb(216, 216, 216);
  color: black;
}

.modal.childModal {
  position: absolute;
  width: 100px;
  height: 200px;
}

.modal.modal_wrapperChild {
  background: rgba(0, 0, 0, 0.8);
}

.copyBtn {
  padding: 0;
  font-size: 1px;
  width: 30px;
  height: 5px;
}

.animExit {
  animation: exit 0.2s ease-out;
}

@keyframes exit {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000px);
  }
}

@keyframes smooth-appearance {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px);
  }
}
